.header
  background-image: url("../assets/img/h1.jpg")
  background-size: cover
  background-position-y: center
  background-position-x: right 
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px


.header--info > h2
  color: white
  font-family: 'Pattaya', sans-serif
  font-weight: lighter
  font-size: 10vw
  text-align: center
  text-shadow: 10px 10px 30px black


.credits
  color: white
  font-size: 12px
.credits > a 
  color: white